<%= stylesheet_link_tag 'category_index' %>

<p><%= notice %></p>

<h1>Categories</h1>

<div class="category-container">
  <% @categories.each do |category| %>
    <div class="category">
      <%= link_to user_category_trades_path(category_id: category.id), class:'categ' do %>
      <div class="cat">
        <p><%= category.icon %></p>
        <p><%= category.name %></p>
        <p>$<%= category_total(category.id) %></p>
        <p><%= get_local_date %></p>
      </div>
      <% end %>
    </div>
    <br>
  <% end %>
</div>

<%= link_to "Add category", new_user_category_path %>
